* { padding:0; margin:0; vertical-align:baseline; list-style:none; border: 0; text-decoration: none;}

body{
    background: #FAFAFA;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

main{
    padding-top: 2%;
    width: 60%;
    height: 75%;
    display: flex;
    justify-content: center;
}

main img{
    width: 45%;
    height: 100%;
    margin-right: 3%;
}

h1{
    width: 50%;
}

h1 img{
    width: 100%;
}

div{
    margin-top: 2%;
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form{
    margin: 30px;
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input{
    border-radius: 3px;
    width: 100%;
    background: #FAFAFA;
    border: 1px solid #dbdbdb;
    padding: 9px 0 7px 8px;
    font-size: 12px;
}

input[type="submit"]{
    font-weight: bold;
    border: 0;
    background: #B2DFFC;
    width: 104%;
    color: white;
    font-size: 14px;
}

b{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #8e8e8e;
}

a{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #385185;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    height: 25%;
    width: 70%;
    gap:2%;
}

footer a{
    font-size: 12px;
    line-height: 20px;
    color: #8e8e8e;
}

/*ID's*/

#login{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border: 1px solid #dbdbdb;
}

#registration{
    padding: 5%;
    background: white;
    width: 90%;
    border: 1px solid #dbdbdb;
}

#registration p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

#registration p a{
    color:#0095f6;
    font-weight: bold;
}

#download{
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20%;
}

#download span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#download .shops{
    display: flex;
    flex-direction: row;
    width: 100%;
}

/*Classes*/

.or{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.line{
    margin-bottom: 3px;
    background: #dbdbdb;
    height: 1px;
}

.facebook{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.facebook img{
    width: 7%;
}

.facebook a{
    color: #385185;
    font-size: 13px;
    font-weight: bold;
}

.lost-password{
    margin: 15px 0;
    font-size: 11px;
}

/*Media Queries*/

@media only screen and (max-width:1300px){
    main{
        width: 70%;
    }
}

@media only screen and (max-width:930px){
    main{
        width: 90%;
    }
}

@media only screen and (max-width:630px){
    main{
        width: 90%;
    }

    .cell{
        display: none;
    }

    div{
        width: 60%;
    }
}